@import '../../css/mixin.scss';

//表单
.input-group{
  .input-box{
    position: relative;
    margin-bottom: 0.83rem;
    .input{
      padding: .7rem .6rem;
      width: 100%;
      font-size: 1.167rem;
      background-color: #fbfbfb;
      border: 1px solid #f4f4f4;
      border-radius: 2px;
      outline: none;
      box-sizing: border-box;
      &::-webkit-input-placeholder{
        color: rgb(139, 139, 139);
        font-size: 1.17rem;
        font-weight: 300;
      }
    }
    
  }
}

.auth-modal-box{
  @include flex;
  @include flex-align-c;
  @include flex-justify-c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 500;
}
.auth-form{
  position: relative;
  padding: 2rem;
  width: 26.5rem;
  max-width: 100%;
  font-size: 1.167rem;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  .close{
    float: right;
    opacity: 0.4;
    cursor: pointer;
  }
  .title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem; 
  }
  .input-group{
    
    .input-box{
      margin-bottom: 1rem;
      .input{
        padding: 0.9rem;
        background: inherit;
        border: 1px solid #e9e9e9;
      }
      .input:focus{
        border: 1px solid $primary-color;
      }
    }
  }
  .ui-btn{
    padding: 0.9rem;
  }
  .button-group{
    @include flex;
    @include flex-justify-between;
    font-size: 1.17rem;
    color: $secondary-color;
    margin-top: 1rem;
    .link{
      color: $primary-color;
      cursor: pointer;
    }
  }
  .other-login{
    margin-top: 1.5rem;
    color: $secondary-color;
    font-size: 1.17rem; 
    .oauth{
      @include flex;
      @include flex-justify-around;
      margin-top: 1rem;
      .oauth-bg{
        @include flex;
        @include flex-align-c;
        @include flex-justify-c;
        width: 45px;
        height: 45px;
        background-color: #f4f8fb;
        border-radius: 50%;
        cursor: pointer;
        img{
          height: 1.9rem;
        }
      }
    }
  }
}
.panfish .normal,.greeting,.blindflod{
  position: absolute;
  top: 0;
  left: 50%;
  width: 10rem;
  transform: translate(-50%,-83%);
  z-index: 1;
}
.panfish .greeting,.blindflod{
  transform: translate(-50%,-76%);
}
.panfish .blindflod{
  width: 8.6rem;
}