
@import '~@/css/variables.scss';

.reset-password-form{
  width: 40rem;
  margin: 6rem auto;
  max-width: 100%;
  padding: 4rem 3rem;
  font-size: 1.16rem;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  h1{
    font-size: 2rem;
  }
}

.form-body{
  margin-top: 3rem;
  text-align: center;
}

.success-message{
  padding: 3rem 0;
}




//注册页面
.send-vcode-btn{
  .geetest_holder{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    &.geetest_holder{
      min-width: 80px;
      height: 36px;
      overflow: hidden;
    }
  }
}

.link{
  display: inline-block;
  margin: 1.5rem auto 0;
  color: #007fff;
  text-decoration: none;
}