.alert-box{
  position: absolute;
  top: 2rem;
  right: 2rem;
  min-width: 12.33rem;
  height: 3.83rem;
  display: inline-block;
  z-index: 999;
  .alert-danger{
    color: #FF4141;
    border-color: #FC6A6A;
    font-size: 1.17rem;
    padding: 1rem 1.25rem;
    text-align: center;
  }
  .alert-success{
    text-align: center;
    font-size: 1.17rem;
  }
}