@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./normalize.css";
@import "./sprite.css";

@import './variables.scss';

html{
  font-size: 12px;
  background: $background-color;
}
body {
  font-size: 12px;
  font-family: $font-family-base;
  background: inherit !important;
}
.hide{
  display: none;
}

//bootstrap carousel
.carousel{
  .carousel-control-prev, .carousel-control-next{
    bottom: inherit;
    top: -28px;
    opacity: 1;
    width: inherit;
  }
  .carousel-control-prev{
    right: 30px;
    left: inherit;
  }
  .carousel-control-next{
    right: 10px;
  }
  .arrow-left{
    position: relative;
    &:hover{
      background-position: -116px 0px;
    }
  }
  .arrow-right{
    position: relative;
    &:hover{
      background-position: -116px -17px;
    }
  }
}

//geetest
.geetest_holder{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  &.geetest_holder{
    min-width: 80px;
    height: 36px;
    overflow: hidden;
  }
}