
@import '~@/css/mixin.scss';
@import '~@/css/sprite.css';

//导航
.category-nav{
  background: #fff;
  padding: 1.67rem;
  clear: both;
  margin-bottom: 1px; 
  @include flex;
  justify-content: space-between;
  .nav-more{
    line-height: 2;
    display: none;
  }
  h5{
    font-size: 1.33rem;
    display: inline-block;
    font-weight: 500;
  }
  .nav-list{
    display: block;
    @include flex;
    @include flex-align-c;
    li{
        color: $secondary-color;
        font-size: 1.17rem;
        margin-left: 2rem;
        &.active{
          color: $primary-color;
        }
        
    }
  }
}

//列表
.content-box{
  background: #fff;
  padding: 1.33rem 1.67rem;
  margin-bottom:1px; 
  cursor: pointer;
  @include flex;
  @include flex-align-c;
  .info{
    @include flex-auto;
    @include flex;
    @include flex-direction-column;
    min-width: 0;
  }
  .thumb{
    @include flex-none;
    margin-left: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2px;
    background-color: #fff; 
  }
  .content-label{
    color: #b2bac2;
    font-size: 1rem; 
    line-height: 2;
    ul{
      @include flex;
      white-space: nowrap;
      li{
        &.sort{
          @include text-ellipsis;
        }
        a+a::before{
          content: "/";
          margin: 0 0.42rem; 
        }
        a:hover{
          color:#007fff;
        }
        a:hover::before{
          color:#b2bac2;
        }
        &.hot{
          font-weight: 500;
          color: red;
        }
        &.column{
          font-weight: 500;
          color: #b71ed7;
        }
      }

      /* 标签间隔小点 */
      .label-point::after{
        content: "\B7";
        margin: 0 0.42rem; 
      }
      .label-point:last-child::after{
        display: none;
      }
    }
  }
  .title{
    @include text-ellipsis;
    margin-bottom: 0.83rem;
    a{
      font-weight: 500;
      line-height: 1.5;
      font-size: 1.5rem;
      &:hover{
        text-decoration: underline;
      }
    }
    a:visited{
      color: #909090;
    }
  
  }
  .action>ul{
    @include flex;
    white-space: nowrap;
    li{
      font-size: 1.17rem;
      border: 1px solid #edeeef;
      box-sizing: border-box;
      padding: 0 0.5rem;
      line-height: 1.6;
      margin-left: -1px;
      color: #b2bac2;
      &.share-btn{
        margin-left: 2rem;
      }
      &.hover{
        visibility: hidden;
      }
      &:hover{
        background: rgba(202, 210, 219, 0.2);
      }
      a{
        height: 100%;
        span{
          vertical-align: middle;
        }
      }
    }
  }
  &:hover{
    background: #fcfcfc;
    .action>ul>li.hover{
      visibility: visible;
    }
  }
}
.w-shadow{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05)
}
.section{
  border: 4px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  background: #fff;
  .intrudtion{
    margin-left: 1rem;
    h5{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.3;
    }
    .price>.new{
      color: $warning-color;
      margin-right: 0.6rem;
    }
    .price>.delete{
      color: $secondary-color;
      text-decoration: line-through;
    }
    .title{
      font-weight: 500;
      font-size: 14px;
      span.warning-text{
        color: $warning-color;
      }
    }
    .desc{
      color: $secondary-color;
    }
  }
  .header{
    padding: 0 1.25rem;
    @include flex;
    line-height: 3.2;
    font-size: 14px;
    border-bottom: 1px solid rgba(160, 160, 172, 0.2);
    .left{
      @include flex-1;
      overflow: hidden;
      white-space: nowrap;
    }
    .right{
      font-size: 12px;
      .more{
        line-height: 3.6;
        color: $primary-color;
      }
    }
    .icon-nav-left, .icon-nav-right{
      color: #7d7d7d;
      font-size: 12px;
      outline:none;
      -webkit-appearance: none;
      &:hover{
        color: $primary-color;
      }
    }
  }
  .flag{
    display: none;
  }
  .title{
    font-weight: 400;
    font-size: 1.17rem;
    margin-bottom: .5rem;
    span.warning-text{
      color: $warning-color;
    }
    h5{
      font-size: 1.17rem;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: .5rem;
    }
  }
  .ticket{
    font-size: 1.17rem;
    color: #8f969c;
    margin-bottom: 1rem;
    a{
      color: $primary-color;
    }
  }
  .input-box{
    width: 100%;
    .seconds{
      font-size: 1.17rem;
    }
  }
  .other-login{
    font-size: 1rem;
    line-height: 1.9rem;
    color: #8f969c;
    margin-top: 1.5rem;
    img{
      height: 1.9rem;
      vertical-align: bottom;
      margin-left: 1.2rem;
    }
  }
  .tag-list{
    @include flex;
    @include flex-wrap;
    .big-label{
      margin-right: 12px;
      margin-bottom: 12px;
      background-color: #f3f6f3;
      cursor: pointer;
      height: 30px;
      color: inherit;
      line-height: 30px;
      padding-left: 22px;
      padding-right: 22px;
      border-radius: 30px;
      &:hover{
        background-color: #29c429;
        color: #fff;
      }
    }
  }
  .book-list{
    .slide-book-list{
      padding: 10px 15px;
      box-sizing: border-box;
      @include flex;
      .cover{
        width: 52px;
        height: 72px;
        flex-shrink: 0;
        img{
          width: 100%;
        }
      }
     
    }
  }
  .divider-line{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    height: 20px;
    span{
      float: left;
      margin-right: 5px;
      color: $secondary-color;
    }
    &::after{
      content: '';
      height: 0;
      display: block;
      border-bottom: 1px solid rgba(160, 160, 172, 0.3);
      overflow: hidden;
      padding-top: 8px; 
    }
  }
  .gitbag{
    width: 100%;
    @include flex;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    .cover{
      width: 52px;
    }
    .btn-mini{
      width: 62px;
      height: 20px;
      .ui-btn{ padding: 0.1rem 0;}
      
    }
    .ui-btn-mini{
      color: $primary-color;
      font-size: 12px;
    }
  }
  .QRCode{
    img{
      width: 50px;
    }
  }
  .link-list{
    .item{
      padding: 1rem;
      cursor: pointer;
      &:hover{
        background-color: #f8f8f8;
      }
      .link{
        height: 100%;
        font-size: 1.17rem;
        img{
          width: 3rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.section-footer{
  text-align: center;
  header{
    color: $secondary2-color
  }
  .account-list{
    margin: 1rem 0;
    li{
      display: inline-block;
      a{
        img{
          width: 24px;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}

.section-more{
  .more-list{
    color: $secondary2-color;
    font-size: 1.08rem;
    margin-bottom: 0.4rem;
    @include flex;
    @include flex-justify-c;
    li+li::before{
      content: '·';
      margin: 0 0.3rem;
    }
    li:hover{
      a{
        color: $primary-color
      }
    }
  }
}
.section-padding{
  padding: 1.25rem;
}

.carousel-control-prev, .carousel-control-next{
  bottom: inherit;
  top: -28px;
  opacity: 1;
  width: inherit;
}
.carousel-control-prev{
  right: 30px;
  left: inherit;
}
.carousel-control-next{
  right: 10px;
}
.arrow-left{
  position: relative;
  &:hover{
    background-position: -116px 0px;
  }
}
.arrow-right{
  position: relative;
  &:hover{
    background-position: -116px -17px;
  }
}
.ui-btn_plain-primary{
  color:$primary-color;
  border:1px solid $primary-color;
}
.ui-btn-mini{
  font-size: 12px;
  display: inline-block;
  /*   表示单行文本的行高为它本身的2.3倍 */
  // line-height: 2.3; 
}
