/* 
 * reset.css 
 * 默认样式
 */
 
 body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
 body{font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif}
 
 a{text-decoration:none;-webkit-tap-highlight-color:transparent;color: inherit}
 
 em,i{font-style:normal}
 li{list-style:none}
 img{border:0;vertical-align:middle}
 table{border-collapse:collapse;border-spacing:0}
 p{word-wrap:break-word}  /*允许换行*/
 input[type="button"]{
     -webkit-appearance: none;
 }
 
 *{
     -webkit-tap-highlight-color: transparent;
     outline: none;
  }
  :focus {outline:none;}
 input, button, select, textarea {
     outline: none;
     -webkit-appearance: none;
     border-radius: 0;
     border: none;
 }
 
 /*去除箭头*/
 input[type=number] {  
     -moz-appearance:textfield;  
 }  
 
 input[type=number]::-webkit-inner-spin-button,  
 input[type=number]::-webkit-outer-spin-button {  
     -webkit-appearance: none;  
     margin: 0;  
 } 

 .clear-float::after{
   content: "";
   height: 0;
   visibility: hidden;
   display: block;
   clear: both;
 }
 .hide{
   display: none
 }
 .show{
   display: block;
 }

 