@import '~@/css/reset.css';
@import '~@/css/mixin.scss';

/* 首页 header */
html{
  font-size: 12px;
  background: #f4f5f5;
}
body{
  background: inherit !important;
}
.container-fluid{
  width: 100%;
  max-width: 980px;
}

.main-header{
  // width: 100%;
  background: #fff;
  height: 5rem;
  color: #71777c;
  font-size: 1.33rem;
}

.main-header .navbar{
  height: 100%;
  @include flex-align-c;
}


//CenterMain LeftSide
.welcome-view{
  margin-top: 1.67rem;
  .right-side{
    width: 20rem;
    margin-left: 1.67rem;
  }
  .center-main{
    overflow: hidden;
    @include flex-1;
  }
}

@media screen and (max-width: 980px){
  .main-header .container-fluid{
    width: 96%;
  }
}